.options-form__container{
  padding: 9px 16px 0px 16px;
}
.options-form__opiton{
  display: flex;
  margin-bottom: 8px;
}
.options-form__opiton span{
  margin-right: 16px;
}
.options-form__opiton input{
  margin-right: 8px;
}
.options-form__opiton label{
  margin-right: 8px;
}